body {
  background: linear-gradient(to bottom, #5d4a70, #290b42);
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 9;
}

h1 {
  font-family: 'Anton', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(78, 161, 154);
}

.nav {
  background-color: #032d46;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
  position: fixed;
  width: 100%;
}

.name {
  color: #a42bbd;
  text-shadow: #3f3441 4px 3px 0px;
  z-index: 5;

}

.ul-nav {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: 5%;
  width: auto;
  height: auto;
}

.ul-nav li {
  margin-left: 5px;
}

.home:hover {
  color: #7700B3;
  border-bottom: 2px solid #27AE60;
}

.p:hover {
  color: #7700B3;
  border-bottom: 2px solid #27AE60;
}

.c:hover {
  color: #7700B3;
  border-bottom: 2px solid #27AE60;
}

.welcome {
  display: inline-block;
  opacity: 0;
  transform: translateY(3em);
  animation: aparecer 1s ease-out forwards;
  padding: 135px 10px 10px 20px;
  color: #cfa7e9;

}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

li {
  padding: 10px;
}

.certificates:hover {
  color: #7D0000;
  font-weight: bold;
}

.contenedor {
  width: 100%;
  /* max-width: 1200px; */
  /* Puedes ajustar el ancho máximo según tus necesidades */
  margin: 0 auto;
  /* Centrar el contenedor en la página */
  display: flex;
  /* Utilizar un diseño de caja flexible */
  flex-wrap: wrap;

}

.columna {
  flex: 1;
  /* Hace que ambas columnas ocupen el mismo espacio */
  padding: 0 20px;
  /* Agrega un espacio alrededor del contenido de las columnas */
}

.columna.izq {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.fotomia {
  max-width: 500px;
  max-height: 350px;
  width: auto;
  height: auto;
  display: flex;
}

.projects {
  padding: 20px 20px 50px 20px;
}

.parts {
  margin-top: 120px;
}

.camello:hover {
  transform: scale(1.2);
  z-index: 3;
}

.camello {
  max-width: 350px;
  max-height: 250px;
  width: auto;
  height: auto;
  display: flex;
  padding: 0;
}

li {
  list-style: none;
}

li.projects {
  justify-content: center;
  align-items: center;
  display: flex;
}

.pieFoto {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#contact {
  padding: 0 20px;

}

.form {
  padding: 0px 20px;
}

.contact-form {
  padding: 20px 40px;
  width: 70%;
  justify-content: flex-start;
  margin-top: 10px;
  display: block;
}

label {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  /* margin: 2px; */
}

textarea {
  min-width: 175px;
  max-width: 250px;
  max-height: 200px;

}

.button {
  border-radius: 50px;
  color: #7700B3;
  display: flex;
  /* justify-content: center;
  align-items: center; */ 
}

footer {
  display: flex;
  padding: 30px 0;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 10px;
}

.fa-brands {
  font-family: "Font Awesome 5 Brands";
  color: #7D0000;
  font-size: 1.3em;
}

.fa-brands:hover {
  color: #FF5733;
}

@media screen and (max-width: 768px) {
  .columna .columna.izq header {
    flex-basis: 100%;
    /* Hace que las columnas ocupen todo el ancho en pantallas pequeñas */
  }
}